In [2]:
import numpy as np
import pandas as pd

In [3]:
my_data={
    "MarksA":np.random.randint(1,100,5),
    "MarksB":np.random.randint(5,100,5),
    "MarksC":np.random.randint(1,100,5),

}

In [4]:
print(my_data)

{'MarksA': array([73, 59, 90, 64, 36]), 'MarksB': array([39, 24, 53, 35, 61]), 'MarksC': array([56, 10, 53, 84, 93])}

In [5]:
df=pd.DataFrame(my_data,dtype='float32')
print(df)

   MarksA  MarksB  MarksC
0    73.0    39.0    56.0
1    59.0    24.0    10.0
2    90.0    53.0    53.0
3    64.0    35.0    84.0
4    36.0    61.0    93.0

In [6]:
df.head()

   MarksA  MarksB  MarksC
0    73.0    39.0    56.0
1    59.0    24.0    10.0
2    90.0    53.0    53.0
3    64.0    35.0    84.0
4    36.0    61.0    93.0

In [7]:
df.to_csv('marks.csv')

In [8]:
hehe_data=pd.read_csv('marks.csv')
print(hehe_data)

   Unnamed: 0  MarksA  MarksB  MarksC
0           0    73.0    39.0    56.0
1           1    59.0    24.0    10.0
2           2    90.0    53.0    53.0
3           3    64.0    35.0    84.0
4           4    36.0    61.0    93.0

In [9]:
hehe_data=hehe_data.drop(columns=["Unnamed: 0"])
print(hehe_data)

   MarksA  MarksB  MarksC
0    73.0    39.0    56.0
1    59.0    24.0    10.0
2    90.0    53.0    53.0
3    64.0    35.0    84.0
4    36.0    61.0    93.0

In [10]:
hehe_data

   MarksA  MarksB  MarksC
0    73.0    39.0    56.0
1    59.0    24.0    10.0
2    90.0    53.0    53.0
3    64.0    35.0    84.0
4    36.0    61.0    93.0

In [11]:
print(hehe_data.describe())

          MarksA     MarksB     MarksC
count   5.000000   5.000000   5.000000
mean   64.400000  42.400000  59.200000
std    19.781304  14.690133  32.506922
min    36.000000  24.000000  10.000000
25%    59.000000  35.000000  53.000000
50%    64.000000  39.000000  56.000000
75%    73.000000  53.000000  84.000000
max    90.000000  61.000000  93.000000

In [12]:
print(hehe_data.tail(n=3))

   MarksA  MarksB  MarksC
2    90.0    53.0    53.0
3    64.0    35.0    84.0
4    36.0    61.0    93.0

In [13]:
print(df.iloc[3])

MarksA    64.0
MarksB    35.0
MarksC    84.0
Name: 3, dtype: float32

In [14]:
df.iloc[3,1]

35.0

In [19]:
idx=df.columns.get_loc('MarksA')
print(df.iloc[3,idx])

64.0

In [20]:
print(df.iloc[:3,idx])

0    73.0
1    59.0
2    90.0
Name: MarksA, dtype: float32

In [26]:
print(hehe_data.sort_values(by=['MarksC','MarksA'],ascending=False))

   MarksA  MarksB  MarksC
4    36.0    61.0    93.0
3    64.0    35.0    84.0
0    73.0    39.0    56.0
2    90.0    53.0    53.0
1    59.0    24.0    10.0

In [27]:
data_array=hehe_data.values

In [28]:
print(type(hehe_data))

<class 'pandas.core.frame.DataFrame'>

In [29]:
print(data_array)

[[73. 39. 56.]
 [59. 24. 10.]
 [90. 53. 53.]
 [64. 35. 84.]
 [36. 61. 93.]]

In [30]:
print(type(data_array))

<class 'numpy.ndarray'>

In [31]:
new_df=pd.DataFrame(data_array,dtype='int32',columns=["Physics","Maths","Chemistry"])
print(new_df)

   Physics  Maths  Chemistry
0       73     39         56
1       59     24         10
2       90     53         53
3       64     35         84
4       36     61         93